In [1]:
import pandas as pd

In [2]:
series = pd.Series( [5,10,15,20,25])
series

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [3]:
series[3]

20

In [4]:
cad = pd.Series(['p','l','a','t','z','i'])

In [5]:
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [6]:
lst = ['Hola', 'mundo', 'robotico']
df = pd.DataFrame(lst)
print(df)

          0
0      Hola
1     mundo
2  robotico

In [7]:
data = {'Nombre':['Juan', 'Ana', 'Jose', 'Arturo'], 
        'Edad':[23, 18, 32, 21],
        'País':['MX','CO','MX','AR']}

df = pd.DataFrame(data)
df

   Nombre  Edad País
0    Juan    23   MX
1     Ana    18   CO
2    Jose    32   MX
3  Arturo    21   AR

In [8]:
print(df[['Nombre','País']])

   Nombre País
0    Juan   MX
1     Ana   CO
2    Jose   MX
3  Arturo   AR

In [9]:
data = pd.read_csv('canciones-2018.csv')
data.head()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925.0,4.0

In [10]:
artistas = data.artists
artistas[2]

'Post Malone'

In [11]:
data.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [14]:
data['tempo'].describe()

count    100.000000
mean     119.904180
std       28.795984
min       64.934000
25%       95.730750
50%      120.116000
75%      140.022750
max      198.075000
Name: tempo, dtype: float64

In [16]:
data[['name','artists','duration_ms']].sort_values(by='artists', axis=0, ascending=True)

                                      name              artists  duration_ms
23                              Youngblood  5 Seconds of Summer     203418.0
55  FEFE (feat. Nicki Minaj & Murda Beatz)              6ix9ine     179405.0
88                                Downtown               Anitta     193456.0
60                                    2002           Anne-Marie     186987.0
65                          God is a woman        Ariana Grande     197547.0
..                                     ...                  ...          ...
38                                 changes         XXXTENTACION     121887.0
98             Dusk Till Dawn - Radio Edit                 ZAYN     239000.0
95                       Rewrite The Stars            Zac Efron     217440.0
14                              The Middle                 Zedd     184732.0
35         Eastside (with Halsey & Khalid)         benny blanco     173800.0

[100 rows x 3 columns]